<html>
<head>
    <title>Информация по электрическим сетям</title>
</head>
<body>
<form action="/admin/electricity_communication" method="post">
    <input type="text" name="power" placeholder="Мощность">
    <input type="text" name="owner" placeholder="Владелец">
    <input type="text" name="start_x" placeholder="Начало сектора. Широта">
    <input type="text" name="start_y" placeholder="Начало сектора. Долгота">
    <input type="text" name="end_x" placeholder="Конец сектора. Широта">
    <input type="text" name="end_y" placeholder="Конец сектора. Долгота">
    <input type="text" name="depth" placeholder="Глубина">
    <input type="text" name="work_info" placeholder="Информация о работах">
    <input type="text" name="work_date" placeholder="Дата" id="work_date">
    <input type="submit" value="Сохранить">
</form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Мощность</th>
        <th>Владелец</th>
        <th>Координата начала Y</th>
        <th>Координата начала X</th>
        <th>Координата конца Y</th>
        <th>Координата конца X</th>
        <th>Глубина</th>
        <th>Информация</th>
        <th>Дата проведения работ</th>
    </tr>
    {%for electricity in data%}
        <tr>
        {%for key in electricity.keys()%}
            <td>{{electricity[key]}}</td>
        {%endfor%}
        </tr>
    {%endfor%}
</table>
</body>
</html>