<html>
<head>
    <title>
        {% if type == 1 %}
            Информация по газовым сетям
        {% else %}
            Информация по информационным и телефонным сетям
        {% endif %}
    </title>
</head>
<body>
<form {% if type == 1 %} action="/admin/gas_communication" {% else %} action="/admin/data_communication" {% endif %} method="post">
    <input type="text" name="owner" placeholder="Владелец">
    <input type="text" name="start_x" placeholder="Начало сектора. Широта">
    <input type="text" name="start_y" placeholder="Начало сектора. Долгота">
    <input type="text" name="end_x" placeholder="Конец сектора. Широта">
    <input type="text" name="end_y" placeholder="Конец сектора. Долгота">
    <input type="text" name="depth" placeholder="Глубина">
    <input type="text" name="work_info" placeholder="Информация о работах">
    <input type="text" name="work_date" placeholder="Дата" id="work_date">
    <input type="submit" value="Сохранить">
</form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Владелец</th>
        <th>Координата начала Y</th>
        <th>Координата начала X</th>
        <th>Координата конца Y</th>
        <th>Координата конца X</th>
        <th>Глубина</th>
        <th>Информация</th>
        <th>Дата проведения работ</th>
    </tr>
    {%for elem in data%}
        <tr>
        {%for key in elem.keys()%}
            <td>{{elem[key]}}</td>
        {%endfor%}
        </tr>
    {%endfor%}
</table>
</body>
</html>