<html>
<head>
    <title>Информация по водопроводным сетям</title>
</head>
<body>
<form action="/admin/water_communication" method="post">
    <select name="type">
        <option value="Вода">Вода</option>
        <option value="Канализация">Канализация</option>
    </select>
    <input type="text" name="owner" placeholder="Владелец">
    <input type="text" name="start_x" placeholder="Начало сектора. Широта">
    <input type="text" name="start_y" placeholder="Начало сектора. Долгота">
    <input type="text" name="end_x" placeholder="Конец сектора. Широта">
    <input type="text" name="end_y" placeholder="Конец сектора. Долгота">
    <input type="text" name="depth" placeholder="Глубина">
    <input type="text" name="work_info" placeholder="Информация о работах">
    <input type="text" name="work_date" placeholder="Дата" id="work_date">
    <input type="submit" value="Сохранить">
</form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Тип</th>
        <th>Владелец</th>
        <th>Координата начала Y</th>
        <th>Координата начала X</th>
        <th>Координата конца Y</th>
        <th>Координата конца X</th>
        <th>Глубина</th>
        <th>Информация</th>
        <th data-field="work_date">Дата проведения работ</th>
    </tr>
    {%for water in data%}
        <tr>
        {%for key in water.keys()%}
            <td>{{water[key]}}</td>
        {%endfor%}
        </tr>
    {%endfor%}
</table>
</body>
</html>